* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  display: flex;
  place-content: space-between;
  font-size: 1.25rem;
  padding: 1.25rem;
  align-items: flex-end;
  background-color: white;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  font-weight: bold;
  color: black;
}

header nav,
.logo-container {
  display: flex;
  flex-grow: 1;
}

.logo-container {
  justify-content: start;
}

header nav {
  justify-content: flex-end;
}

header ul {
  display: flex;
  list-style-type: none;
  flex-basis: 50%;
  place-content: space-between;
}

header ul li {
  font-size: 0.75rem;
}

header ul li a {
  text-decoration: none;
}

/* main */
main {
  max-width: 100%;
  width: 100%;
}

/* hero, blog card */
.hero .image-container,
.blog-card .image-container {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.card-image-container {
  height: 240px;
}

.hero img,
.blog-card img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: auto;
  display: block;
  object-fit: cover;
}

.hero {
  background-color: #cccccc;
  color: white;
  width: 100%;
  height: 100%;
  padding: 40% 1.25rem 1.25rem 1.25rem;
}

.hero-date,
.blog-card-date {
  font-size: 0.75rem;
}

.hero-title,
.blog-card-title {
  padding: 0.5rem 0;
  font-size: 2rem;
  font-weight: bold;
}

.hero-body,
.blog-card-body {
  font-size: 1rem;
}

.blog-card {
  padding: 1.25rem;
}

.blog-card-content {
  padding: 1rem 0;
}

/* article, post */
article {
  padding: 1.25rem;
}

article section {
  padding-top: 6rem;
}

article .image-container img {
  max-width: 100%;
  width: 100%;
  margin: auto;
  display: block;
  object-fit: cover;
}

.profile {
  border-radius: 9999px;
  overflow: hidden;
  width: 50%;
  aspect-ratio: 1 / 1;
  margin: 2rem 0;
}

/* footer */
footer {
  max-width: 100%;
  width: 100%;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

footer .name,
footer .copyright {
  font-size: 0.75rem;
}

footer .name {
  color: #ececec;
  font-weight: bold;
}

footer .copyright {
  color: #d7d7d7;
}

/* view more */
.link-container {
  padding: 1rem 0;
  width: 100%;
}

.link,
.post-block-heading {
  font-weight: bold;
  margin: 0 auto;
  width: fit-content;
  display: block;
  color: black;
}

.link {
  font-size: 1rem;
}

/* post block heading */
.post-block-heading {
  padding-top: 2rem;
  font-size: 1.5rem;
}

@media (min-width: 640px) {
  /* header, */
  main,
  footer {
    max-width: 640px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  /* header, */
  main,
  footer {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .posts-container {
    display: grid;
    /* grid-template-areas: "card card card"; */
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* header, */
  main,
  footer {
    max-width: 1024px;
    margin: 0 auto;
  }
}

@media (min-width: 1280px) {
  /* header, */
  main,
  footer {
    max-width: 1280px;
    margin: 0 auto;
  }
}

@media (min-width: 1536px) {
  /* header, */
  main,
  footer {
    max-width: 1536px;
    margin: 0 auto;
  }
}
